* {
    margin: 0;
    padding: 0;
    font-family: "Outfit", sans-serif;
    box-sizing: border-box;
}

body {
    height: 100%;
    width: 100%;
    background: #F6F5FB;
}

h1 {
    font-size: 20px;
    font-weight: 700;

}

li {
    font-size: 16px;
    cursor: pointer;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    display: flex;
    align-items: center;
    color: #2A3342;
}

p {
    font-size: 14px;
    font-weight: 300;
}

button {
    font-size: 14px;
}

ul {
    list-style: none;
}

#button__header {
    height: 36px;
    align-self: center;
    border-radius: 100px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 90%;
    line-height: 20px;

}

#banner {
    width: 100%;
    height: 25rem;
    object-fit:cover;
}
#grid__items {
    margin: 0;
}

.card__item {
    width: 95%;
}
.card {
    border: 1px solid #edebe9 !important;
}

.card img {
    height: 245px;
    object-fit: cover;
}

.card .card-text {
    height: 10vh;
}

.buyButton {
    background-color: #2A3342;
    border-radius: 10px;
    border: 1px solid rgba(0,0,0,0.3);
    height: 5vh;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 1.9vh;
    color: #F6F5FB;
    display: none;
}

#fade {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.5);
    display: none;
}

#modal {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -55%);
    background-color: #fff;
    width: 50rem;
    height: 40rem;
    border-radius: 1.5rem;
    max-width: 90%;
    padding: 1.2rem;
    display: none;
}

.modal-header {
    display: flex;
    justify-content:flex-end;
    margin-bottom: 1rem;
    padding-bottom: 1rem;
}
.modal-header img {
    width: .8rem;
    cursor: pointer;
}

.modal-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 50%;
    padding-top: 5rem;
    padding: 3rem;
}

.modal-body h1 {  
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    font-size: 3rem;
    color: #000000;
    padding-bottom: 3rem;
}

.modal-body p {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    font-size: 1.7rem;
    color: #000000;
}

.modal-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 3rem;
}
.modal-footer button {
    background-color: #2A3342;
    border-radius: 10px;
    height: 3.5rem;
    width: 20rem;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 1.3rem;
    color: #F6F5FB;
    }

    #modal.hide,
    #fade.hide {
        display: block;
    }